<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext,latin-ext">

<link href="{{ asset('public/libs/slick/slick.css') }}" rel="stylesheet">
<link href="{{ asset('public/libs/slick/slick-theme.css') }}" rel="stylesheet">
<link href="{{ asset('public/libs/owl-carousel/css/owl.carousel.css') }}" rel="stylesheet">
<link href="{{ asset('public/libs/owl-carousel/css/owl.theme.green.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/styles.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/media.css') }}" rel="stylesheet">
<link rel="icon" href="{{ asset('public/img/ftr-logo.png') }}" type="image/png" />
{#<link href="{{ asset('public/css/slider.css') }}" rel="stylesheet">#}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Главная страница</title>
