 {#<div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print" data-url="{{ url }}" data-title="{{ title }}" data-description="{{ description }}"></div>#}
<div class="yashare-auto-init" data-yashareL10n="ru"
     data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"
     data-yashareLink="{{ url }}"
     data-yashareTitle="{{ title }}"
     {#data-yashareimage="{% thumbnail entity.photoSlide, 'small' with {'title':'', 'class':'media-object img-obj'} %}"#}
     {#data-yashareimage="{{ asset('public/img/RSK копия.png') }}"#}
     data-yashareDescription="{{ description }}"
        ></div>
