{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('public/css/jquery-gmaps-latlon-picker.css') }}"/>
{% endblock %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}



{% block form %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form
                {% if admin_pool.getOption('form_type') == 'horizontal' %}
                    class="form-horizontal"
                {% endif %}
                role="form"
                action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}"
                {{ form_enctype(form) }} method="POST"
                {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
        >

            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}


            {% block sonata_pre_fieldsets %}
            <div class="row">
                {% endblock %}


                {% block sonata_tab_content %}
                    {#{% set has_tab = ((admin.formtabs|length == 1 and admin.formtabs|keys[0] != 'default') or admin.formtabs|length > 1 ) %}#}

                    <div class="col-md-12">

                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    КПП
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">




                                </div>
                            </div>
                        </div>

                        {{ form_errors(form.translations) }}
                        {{ form_label(form.translations) }}
                        {{ form_widget(form.translations) }}
                        <div class="gllpLatlonPicker">
                            <div class="gllpMap">Google Maps</div>
                            <br/>
                            {#<input type="hidden"  id="lat" class="gllpLatitude"/>#}
                            {#<input type="hidden"  id="lon" class="gllpLongitude"/>#}
                            <input type="hidden" class="gllpZoom"/>
                            {#name: <input type="text" class="gllpLocationName" size=42/><br/>#}
                            {#elevation: <input type="text" class="gllpElevation" size=12/>m#}

                            {#{{ form_widget(form.address, {'attr': {'class': 'form-seller-add gllpLocationName', 'placeholder': 'Адрес' } }) }}#}
                            {{ form_widget(form.latitude, {'attr': {'class': 'gllpLatitude', 'required':'true' } }) }}
                            {{ form_widget(form.longitude, {'attr': {'class': 'gllpLongitude', 'required':'true' } }) }}
                        </div>
                        {#{% if has_tab %}#}

                            {#<div class="nav-tabs-custom">#}
                                {#<ul class="nav nav-tabs" role="tablist">#}
                                    {#{% for name, form_tab in admin.formtabs %}#}
                                        {#<li{% if loop.index == 1 %} class="active"{% endif %}><a href="#tab_{{ loop.index }}" data-toggle="tab"><span class="glyphicon glyphicon-exclamation-sign has-errors hide"></span> {{ admin.trans(name, {}, form_tab.translation_domain) }}</a></li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                                {#<div class="tab-content">#}
                                    {#{% for code, form_tab in admin.formtabs %}#}
                                        {#<div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="tab_{{ loop.index }}">#}
                                            {#<div class="box-body  container-fluid">#}
                                                {#<div class="sonata-ba-collapsed-fields">#}
                                                    {#{% if form_tab.description != false %}#}
                                                        {#<p>{{ form_tab.description|raw }}</p>#}
                                                    {#{% endif %}#}

                                                    {#{{ form_helper.render_groups(admin, form, form_tab['groups'], has_tab) }}#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#{% endfor %}#}

                                {#</div>#}
                            {#</div>#}
                        {#{% else %}#}
                            {#{{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}#}
                        {#{% endif %}#}

                    </div>

                {% endblock %}


                {% block sonata_post_fieldsets %}
            </div>
            {% endblock %}


            {{ form_rest(form) }}


            {% block formactions %}
                <div class="well well-small form-actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-success" name="btn_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                            <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                <i class="fa fa-eye"></i>
                                {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                            </button>
                        {% endif %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}

                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}

                            {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                            {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock formactions %}
        </form>
    {% endif%}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/jquery-2.1.1.min.js') }}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset('public/js/jquery-gmaps-latlon-picker.js') }}"></script>


{% endblock %}