

{% if pageCount > 1 %}

        {% if previous is defined %}
            <li >
                <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <span>&laquo;&nbsp</span>
                </a>

            </li>
        {% else %}
            <li class="disabled" hidden>
                <a class="page-numbers" href="" tabindex="-1">
                    <span>&laquo;&nbsp</span>
                </a>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li class="page-numbers">
                <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li >
                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li >
                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li >
                    <a class="page-numbers current" href="">{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li>
                        <span>&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a class="next page-numbers"  href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <span>Следующая страница &nbsp;&nbsp;&nbsp;→</span>

                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="next page-numbers" href="">
                    <span>Следующая страница &nbsp;&nbsp;&nbsp;→</span>
                </a>
            </li>
        {% endif %}

{% endif %}