

{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends "SonataUserBundle:Profile:action.html.twig" %}#}
{% extends "base.html.twig" %}

{% block styles %}

{% endblock %}
{% block body %}

    {% block sonata_profile_content %}

        <section class="auth-page">
            <div class="container">

                <div class="nav">
                    <a href="{{ path('fos_user_profile_show') }}">Профиль
                        <a href="{{ path('fos_user_change_password') }}" class="active">Изменить пароль</a>
                    </a>
                </div>

                <div class="enter-form dark">

                    {{ form_start(form, {'action': path('sonata_user_change_password')  }) }}

                    {{ form_widget(form.current_password, {'attr':{ 'class' : 'input', 'placeholder' : 'Текущий пароль' } }) }}
                    {{ form_widget(form.new.first, {'attr':{ 'class' : 'input', 'placeholder' : 'Новый пароль' } }) }}
                    {{ form_widget(form.new.second, {'attr':{ 'class' : 'input', 'placeholder' : 'Подтвердите пароль' } }) }}

                    <input type="submit" class="input send-btn" value="Изменить пароль">


                    {{ form_end(form) }}
                    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

                </div>
            </div>
        </section>

    {% endblock %}
{% endblock %}