
{#<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST"#}
      {#class="fos_user_change_password form-horizontal">#}
    {#{{ form_widget(form) }}#}

    {#<button type="submit" class="btn btn-danger pull-right"><i#}
                {#class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}#}
    {#</button>#}
{#</form>#}

<div class="span2 col-lg-6" style="padding: 8px 0;">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
            <div class="redact-aunt">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form,{'action':path('sonata_user_change_password'), 'method':'POST', 'label_col': 3, 'widget_col': 9, 'style': 'horizontal' }) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-danger pull-right"><i
                                    class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>